<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title ? @page_title : 'Welcome' %> | Bookstore</title>
     <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

     <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

<ul class="nav nav-tabs">
<li class="nav-item">
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">

          <li class="<%= params[:controller] == 'books' ? 'active' : '' %>" style="padding-right: 20px; padding-left: 50px; "><%= link_to 'Home', root_path%></li>
           <!-- <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a> --> <!--nav-item active-->

          <li class="<%= params[:controller] == 'about' ? 'active' : '' %>" style="padding-right: 20px;">
            <%= link_to 'About', about_path%>
          </li>

<!--
           <li class="<%= params[:controller] == 'Book' ? 'active' : '' %>" style="padding-right: 20px;">
           <%= link_to "Book", new_book_path %></li>
           <li class="<%= params[:controller] == 'Category' ? 'active' : '' %>" style="padding-right: 20px;">
           <%= link_to "Category", new_category_path %></li>
           <li class="<%= params[:controller] == 'Author' ? 'active' : '' %>" style="padding-right: 20px;">
           <%= link_to "Author", new_author_path %></li>
           <li class="<%= params[:controller] == 'Publisher' ? 'active' : '' %>" style="padding-right: 20px;">
           <%= link_to "Publisher", new_publisher_path %></li>
-->


<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   Add New
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
    <button class="dropdown-item" type="button"><%= link_to Book, new_book_path %></button>
    <button class="dropdown-item" type="button"><%= link_to Category, new_category_path %></button>
    <button class="dropdown-item" type="button"><%= link_to Author, new_author_path %></button>
    <button class="dropdown-item" type="button"><%= link_to Publisher, new_publisher_path %></button>
  </div>
</div>
<!---->
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   Manage
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
    <button class="dropdown-item" type="button"><%= link_to "Categories", categories_path %></button>
    <button class="dropdown-item" type="button"><%= link_to "Authors", authors_path %></button>
    <button class="dropdown-item" type="button"><%= link_to "Publishers", publishers_path %></button>
  </div>
</div>
<!---->
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </li>
    </ul>
    </nav>

        <header>
          <div class="container">
            <h1>The Bookstore <small><%= @page_title ? @page_title : 'Welcome' %></small></h1>
          </div>
        </header>


   <section>
      <div class="container">
        <div class="row">
           <div class="col-md-8">

<!-- Alerts and Messages -->
<% if flash[:notice] %>
 <div class="alert alert-success"><%= flash[:notice] %></div>
<% end %>

<% if flash[:alert] %>
  <div class="alert alert-danger"><%= flash[:alert] %></div>
<% end %>

             <%= yield %>
           </div>

           <div class="col-md-4">
            <%= render 'partials/sidebar.html.erb' %>
           </div>

        </div>
      </div>
   </section>

<footer>
  <div>
    <p style="padding-left: 50px">Copyright &copy; 2018, All Rights Reserved</p>
  </div>

</footer>



  </body>
</html>
